body {
    background-color: #bbb;
    font: small "Trebuchet MS", Verdana, Sans-serif; 
    padding-bottom:0;
    
}

#contentcontainer {
    /*width: 70%;*/
    background-color: #c00;
    border: 1px solid #006;
    margin: 0 10%;
    box-shadow: 0px 0px 20px 3px #006;
    border-radius: 25px;
}
div {
    /*display: block;*/
}
form {
    margin-bottom: 1em;
    display: block;
    margin-top: 0em;
/*    margin: 0 5%;*/
}
/*Header and footer css*/

header img {
    height: 40px;
    float: left;
    margin-left: 25px;
}

header {
    /*font: 11pt Garamond, Arial, sans-serif;*/
    color: #c00;
    background-color: #bbb;
    height: 55px;
    text-align: right;
    padding-top: 5px;
    border-radius:25px 25px 0 0;
}

footer{
        /*font: 11pt Garamond, Arial, sans-serif;*/
        color: #c00;
        font-size: 14px;
        text-align: center;
        font-family: sans-serif;
        background-color: #bbb;
        border-radius:0 0 10px 10px;;
        /*margin: 0;*/
}

/*img.footer{
      text-align: justify;
      }*/
a.footer{
        font-size: smaller;
        color: white;
        background-color: #c3040c;
        text-decoration: none;
}
a:hover.footer{
        font-size: smaller;
        color: #c3040c;
        background-color: white;
}
a:visited.footer{
        font-size: smaller;
        color: white;
        background-color: #c3040c;
        text-decoration: none;
}
a:VISITED:HOVER.footer{
        color: #c3040c;
        background-color: white;
}

/*form {
margin-bottom: 1em;
display: block;
margin-top: 0em;
text-align: center;
}*/

/*end of header/footer css*/
/*Start of homepage specific css*/
#login {
    float: right;
    clear: left;
    /*text-align: center;*/
    border: black 1px solid;
    height: 100px;
    width: 40%;
    /*padding-right: 20px;*/
    padding-left: 10px;
    color: white;
    background-color: #bbb;
    border-radius: 25px 0 0 25px;
    
}
#login label {
    padding-left: 25px;
}

#signup {
    text-align: center;
    color: white;
    border: black 1px solid;
    height: 100px;
    margin-right: 250px;
    width: 45%;
    width: 40%;
    background-color: #bbb;
    border-radius: 0 25px 25px 0;

}
#login_signup {
    /*border: 5px solid black;*/
    width: 100%;
    margin-bottom: 10%;
    height: 350px;
    margin-top: 5%;
}
#login_signup img {
    height: 45%;
    text-align: justify;
    /*float: right;*/
    margin: 10% 40%;
}

/*end of homepage specific css
start of signup page, forgot access page specific css*/
#signingup label{
 
width: 6em;
/*border: 1px solid black;*/
float: left;
/*clear: right;*/
text-align: right;
margin-right: 1em;
/*margin-left: 500px;*/
/*display: block;*/
/*padding-right: 1em;*/
/*margin-bottom: 5px;*/
}

#signingup input {
    width: 11em;
}

#signingup {
    margin: 4% 5%;
    text-align: justify;
    /*border: 1px solid black;*/
    width: 400px;
    color: white;
    border: 2px solid black;
    text-align: justify;
    padding: 5px;
    height: auto;
    border-radius: 25px;
   
}

#signupsubmit input {
    margin-left: 6.7em;
}

#signingup fieldset
{
border: 1px solid #781351;
  width: 410px;

}

#signingup legend
{
color: black;
background: white;
border: 1px solid #781351;
padding: 0 5px;
height: auto;
}

#Userpage{
  
}

h1{
    
    color: white;
    border-bottom: 2px solid black;
    margin: 4% 5%;
    width: 300px;
    text-align: justify;
    padding: 0 5px;
    height: auto;
    
}
a{
    color: white;
    text-align: justify;
    padding: 0 5px;
    height: auto;

}


#scoresheet {
    /*border: 1px solid black;*/
    font-size: 1em;
    text-align: center;
    /*clear: right;*/
    /*float: left;*/
}
#scoresheet img {
    height: 35px;
    width: 75px;
    text-align: center;
}

#javadice {
	font-size: 14px;
	background-color: white;
	border-width: 5px;
	border-style: dotted;
	border-color: #c3040c;
	/*position: fixed;*/
	/*top: 260px;*/
	/*left: 75px;*/
	width: 185px;
        float: right;
        clear: left
       	
}

#javadice > th {
	font-weight: bold;
	color: #c3040c;
        
}
#dicediv {
    font-size: medium;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}



tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    font-weight: bold;

}

#rolltotal { 
    
}
/*#main{
	background-color: white;
	font-size: 200%;
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	padding-top: 100px;
}*/
dice {
	text-align: right;
}

#gamepagenav {
    border: 1px solid black;
    width: 25%;
        /*clear: right;*/
        margin-left: 2px;
        padding-left: 2px;
}

#summarynav {
    text-align: center;
    /*float: left;*/
    width: 250px;
}

#rulebooklink {
    /*float: right;*/
}

.submitbutton {
    border: 1px solid #006;
    border-radius:25px;
    background: #888;
    /*background-color: #c00;*/
    color: white;
}